$navbar-item-img-max-height: 4rem;
$link: #193f89;
$primary: #193f89;
//$footer-padding: 3rem 15rem 6rem;
$footer-background-color: #000000;
$footer-color: #ffffff;
$footer-padding: 3rem 1.5rem 1rem;
$section-padding: 1.5rem;
$subtitle-color: rgb(102, 102, 102);
$family-primary: "Open Sans";
$title-family: "Amiri";
$title-color: #000;