<template>
    <div class="category-page">
        <section class="section filter-section">
            <nav class="level search-options">
                <div class="level-left">
                    <div class="level-item">
                        <div class="field has-text-7">Sorteer op:</div>
                    </div>
                    <div class="level-item">
                        <div class="field"><!---->
                            <div class="control has-icons-left">
                                <div class="select is-small">
                                    <select name="sort" v-model="sorting" v-on:change="sort()">
                                        <option value="title">
                                            Naam Hotel
                                        </option>
                                        <option value="price">
                                            Prijs (laagste eerst)
                                        </option>
                                        <option value="price-desc">
                                            Prijs (hoogste eerst)
                                        </option>
                                        <option value="rating">
                                            Beste Beoordelingen
                                        </option>
                                    </select>
                                </div>
                                <span class="icon is-left">
                                    <i class="fas fa-sort"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <div class="field">
                            <div class="tags has-addons" v-if="
                            (activeFilters.province && activeFilters.province !== category_data.defaultFilters.province) ||
                            (activeFilters.category && activeFilters.category !== category_data.defaultFilters.category) ||
                            (activeFilters.city && activeFilters.city !== category_data.defaultFilters.city)">
                                <span class="tag is-medium clear-button" v-on:click="clearFilters()">
							Alles wissen
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="level-item">
                        <div class="field">Filter op:</div>
                    </div>
                    <div class="level-item">
                    <div class="filterWrapper" v-for="(filter,name) in filters">
                        <div class="field">
                            <div class="control">
                        <span class="select is-small">
                            <select :name="name" v-model="activeFilters[name]"
                                    v-on:change.self="filterCollection(name,activeFilters[name])"><!---->
                                <option disabled="disabled" :selected="activeFilters[name] === ''" value>{{capitalizeFirstLetter(name)}}</option>
                                <option v-for="(item,i) in filter" :value="i"
                                        :selected="item === activeFilters[name]">{{capitalizeFirstLetter(item)}}</option>
                            </select>
                        </span>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </nav>
        </section>
        <section class="results-message messages-section has-text-centered section">
            <h2 class="title is-2 has-text-weight-normal">
                {{ title }}
            </h2>
        </section>
        <div class="section hotels-section is-paddingless">
            <div v-if="hotels.length" class="columns is-multiline">
                <div class="column is-12-mobile is-12-tablet is-12-desktop" v-for="hotel in hotels">
                    <div class="box">
                        <div class="columns">
                            <div class="column is-4 is-12-mobile">
                                <a :href="hotel.slug">
                                    <p class="image">
                                        <img :src="hotel.thumb">
                                    </p>
                                </a>
                            </div>
                            <div class="column is-5 is-12-mobile">
                                <div class="content is-inline-block">
                                    <div class="header">
                                        <a :href="hotel.slug">
                                            <h2 class="is-2">
                                                {{ hotel.title }}
                                            </h2>
                                        </a>
                                    </div>

                                    <div class="stars" :style="{ '--rating': hotel.rating }">
                                    </div>
                                    <span>op basis van {{ hotel.reviewsCount }} review<span v-if="hotel.reviewsCount !== 1">s</span></span>
                                    <p class="is-size-5">Prijs vanaf €{{hotel.price }}</p>
                                    <p class="has-text-black">{{ hotel.short_description }}</p>
                                </div>
                            </div>
                            <div class="column is-3 is-12-mobile has-text-right is-relative">
                                <a @click.prevent="showPopup(hotel.address)" class="show-map">bekijk op kaart</a>
                                <a class="button has-background-link is-medium has-text-white align-content-end view-button"
                                   :href="hotel.slug">Bekijk hotel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-else class="column has-text-centered">
                <h5 class="title is-5 is-marginless">No Hotels Found</h5>
            </div>
        </div>
        <div class="has-text-centered section is-unselectable" v-html="content">
        </div>
        <!-- Map Popup -->
        <div v-if="mapLink" class="modal-mask">
            <div class="modal-wrapper" v-on:click.self="closePopup()">
                <div class="modal-container">
                    <a @click.prevent="closePopup()" title="sluiten" class="close"></a>
                    <iframe
                            width="100%"
                            height="450px"
                            frameborder="0" style="border:0"
                            :src="mapLink" allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
        <div :class="{ 'is-active': isLoading }" class="loader-wrapper">
            <div class="loader"><div></div><div></div></div>
        </div>
    </div>
</template>
<script>
    export default {
        props: {
            category_data: Object,
        },
        data() {
            return {
                isLoading: false,
                activeFilters: {
                    province: '',
                    city: '',
                    category: '',
                },
                hotels: [],
                title: 'Alle Hotels in Nederland',
                content: '',
                filters: {
                    province: '',
                    city: '',
                    category: '',
                },
                sorting: 'title',
                mapLink: false
            }
        },
        methods: {
            capitalizeFirstLetter(string) {
                return string.charAt(0).toUpperCase() + string.slice(1);
            },
            filterCollection(name = null, value = null, clear = false) {
                var self = this;
                self.isLoading = true;
                axios.post('/api/filter', {
                    currentIds: this.currentHotIds,
                    activeFilters: this.activeFilters,
                    filter: {
                        name: name,
                        value: value
                    },
                    clear: clear
                }).then(function (response) {
                    self.hotels = response.data.hotels;
                    self.title = response.data.title;
                    if (!!response.data.content) {
                        self.content = response.data.content;
                    }
                    for (const [key, value] of Object.entries(response.data.filters)) {
                        if (Object.keys(value).length === 1 &&
                            (self.activeFilters[key] !== '' || key === 'province')
                        ) {
                            self.activeFilters[key] = Object.keys(value)[0];
                        }
                        self.filters[key] = value;
                    }
                    self.sort();
                    self.isLoading = false;
                });
            },
            clearFilters() {
                this.isLoading = true;

                this.activeFilters.city = this.category_data.defaultFilters.city;
                this.activeFilters.province = this.category_data.defaultFilters.province;
                this.activeFilters.category = this.category_data.defaultFilters.category;
                this.filters.city = this.category_data.filters.city;
                this.filters.province = this.category_data.filters.province;
                this.filters.category = this.category_data.filters.category;
                this.hotels = this.category_data.hotels;
                this.title = this.category_data.title;
                this.content = this.category_data.content;
                this.sort();

                this.isLoading = false;
            },
            sort(){
                var self = this;
                // this.isLoading = true;
                this.hotels.sort(function(a, b) {
                    if(self.sorting === 'price-desc'){
                        var keyA = a['price'],
                            keyB = b['price'];
                        if (keyA > keyB) return -1;
                        if (keyA < keyB) return 1;
                        return 0;
                    } else{
                        var keyA = a[self.sorting],
                            keyB = b[self.sorting];
                        if(self.sorting === 'rating'){
                            if (keyA > keyB) return -1;
                            if (keyA < keyB) return 1;
                            return 0;
                        } else{
                            if (keyA < keyB) return -1;
                            if (keyA > keyB) return 1;
                            return 0;
                        }
                    }
                });
                // this.isLoading = false;
            },
            showPopup(address){
                if(address){
                    this.mapLink = "https://www.google.com/maps/embed/v1/place?key=AIzaSyAl8edpJYM7AGIigDFAWHDJlgSi_OF5kxI&zoom=12&region=nl&q=" + address.replace(/ /g,'+');
                    document.documentElement.style.overflow = 'hidden'
                } else{
                    this.mapLink = false;
                }
            },
            closePopup(){
                this.mapLink = false;
                document.documentElement.style.overflow = 'auto'
            }
        },
        created() {
            this.clearFilters();
        },
        computed: {
            currentHotIds: function () {
                return this.hotels.map((i) => i.id);
            }
        }
    }
</script>