<template>
    <swiper class="swiper" :options="swiperOption">
        <swiper-slide v-for="(item,index) in gallery" :key="index"><div class="image-wrapper" :style="{ backgroundImage: `url('${item}')` }"></div></swiper-slide>
        <div v-show="moreThanOneItem" class="swiper-button-prev" slot="button-prev"></div>
        <div v-show="moreThanOneItem" class="swiper-button-next" slot="button-next"></div>
        <div v-show="moreThanOneItem" class="swiper-pagination" slot="pagination"></div>
    </swiper>
</template>

<script>
    export default {
        props: ['gallery'],
        data() {
            return {
                swiperOption: {
                    keyboard: {
                        enabled: true,
                    },
                    autoplay: {
                        disableOnInteraction: true,
                        stopOnLastSlide: true
                    },
                    loop: true,
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true,
                    },
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev'
                    }
                }
            }
        },
        computed: {
            moreThanOneItem: function(){
                return this.gallery.length > 1;
            }
        },
        created: function (){
            this.swiperOption.loop = this.moreThanOneItem;
        }
    }
</script>