<template>
    <div>
        <iframe v-if="linkFormatted"
                width="100%"
                height="600"
                frameborder="0" style="border:0"
                :src="linkFormatted" allowfullscreen>
        </iframe>
    </div>
</template>
<script>
    export default {
        props: ['address'],
        data() {
            return {
                linkFormatted: ''
            }
        },
        created: function(){
            if(this.address.length){
                this.linkFormatted = "https://www.google.com/maps/embed/v1/place?key=AIzaSyAl8edpJYM7AGIigDFAWHDJlgSi_OF5kxI&zoom=12&region=nl&q=" + this.address.replace(/ /g,'+');
            }
        }
    }
</script>

<!--<template>-->
    <!--<div class="map">-->
    <!--<gmap-map-->
        <!--:center="this.latLngObj"-->
        <!--:zoom="7"-->
        <!--style="width: 100%; height: 380px"-->
<!--&gt;</gmap-map>-->
    <!--</div>-->
<!--</template>-->
<!--<script>-->
    <!--export default {-->
        <!--props: ['hotel'],-->
        <!--data() {-->
            <!--return {-->
                <!--latLngObj: {-->
                    <!--lat: 10,-->
                    <!--lng: 10-->
                <!--}-->
            <!--}-->
        <!--},-->
        <!--created: function(){-->
            <!--console.log(this.hotel);-->
            <!--if(!this.hotel.coordinates){-->
                <!--Vue.$geocoder.send(this.address, response => { console.log(response) })-->
                <!--// Vue.$geocoder.send(this.address, response => { this.latLngObj = response })-->
            <!--}-->
        <!--}-->
    <!--}-->
<!--</script>-->