<template>
    <section class="section" id="nav-section">
    <nav id="navbar" class="navbar is-transparent is-spaced" role="navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item is-paddingless" href="/">
                    <img src="/images/logo.png" alt="Luxe Hotels"/>
                </a>
                <div id="navbarBurger" class="navbar-burger burger" v-on:click="toggle" v-bind:class="{'is-active': activeBurger }">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div v-bind:class="{ 'is-active': activeBurger }" class="navbar-menu">
                <div class="navbar-start">
                    <div class="navbar-item has-dropdown is-hoverable is-mega">
                        <a class="navbar-link"
                           :class="{ 'is-active': activeNed }"
                           href="/nederland">
                            NEDERLAND
                            <span class="arrow-overlay" v-on:click.self.prevent="toggleNed"></span>
                        </a>
                        <div class="navbar-dropdown is-boxed"
                             :class="{ 'is-active': activeNed }"
                        >
                            <div class="container">
                                <div class="columns">
                                    <div class="column">
                                        <h1 class="title is-family-primary is-5 is-mega-menu-title">Provincie</h1>
                                        <a v-for="(name,slug) in navigation.provinces" :href="slug" class="navbar-item">{{ name }}</a>
                                    </div>
                                    <div class="column">
                                        <h1 class="title is-family-primary is-5 is-mega-menu-title">Stad</h1>
                                        <a v-for="(name,slug) in navigation.cities" :href="slug" class="navbar-item">{{ name }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link"
                           :class="{ 'is-active': activeIns }"
                           href="/nederland/inspiratie">
                            INSPIRATIE
                            <span class="arrow-overlay" v-on:click.self.prevent="toggleIns"></span>
                        </a>
                        <div class="navbar-dropdown is-boxed"
                             :class="{ 'is-active': activeIns }"
                        >
                            <a v-for="(name,slug) in navigation.categories" v-bind:href="slug" class="navbar-item">{{ name }}<span></span></a>
                        </div>
                    </div>
                    <div class="navbar-item is-paddingless">
                        <a class="navbar-link is-arrowless" href="/nederland/deals">
                            DEALS
                        </a>
                    </div>
                    <div class="navbar-item is-paddingless">
                        <a class="navbar-link is-arrowless" href="/blog">
                            BLOG
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    </section>
</template>

<script>
    export default {
        props: ['navigation'],
        data() {
            return {
                activeBurger: false,
                activeNed: false,
                activeIns: false
            };
        },
        methods: {
            toggle(){
                this.activeBurger = !this.activeBurger;
            },
            toggleNed(){
                this.activeNed = !this.activeNed;
            },
            toggleIns(){
                this.activeIns = !this.activeIns;
            }
        }
    }
</script>
