<template>
<div class="notification is-success"
     role="alert"
     v-show="show"
     v-text="body">
</div>
</template>
<script>
    export default {
        props: ['message'],
        data() {
            return {
                body: this.message,
                show: false
            }
        },
        created() {
            if (this.message) {
                this.flash();
            }

            window.events.$on(
                'flash', data => this.flash(data)
            );
        },
        methods: {
            flash(data) {
                if (data) {
                    this.body = data.message;
                }

                this.show = true;

                this.hide();
            },

            hide() {
                setTimeout(() => {
                    this.show = false;
                }, 3000);
            }
        }
    }
</script>