<template>
    <div style="all:unset;">
        <a @click.prevent="showPopup()" class="button is-size-5 is-size-6-mobile has-text-white align-content-end video-button">
            Bekijk de video
        </a>
        <div v-if="opened" class="modal-mask">
            <div class="modal-wrapper" v-on:click.self="closePopup()">
                <div class="modal-container">
                    <a @click.prevent="closePopup()" title="sluiten" class="close"></a>
                    <youtube class="video"
                             player-width="100%"
                             player-height="450px"
                             :player-vars="{autoplay: 1}"
                             :video-id='id'>
                    </youtube>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['id'],
        data() {
            return {
                opened: false,
            }
        },
        methods: {
            showPopup(){
                this.opened = true;
                document.documentElement.style.overflow = 'hidden';
            },
            closePopup(){
                this.opened = false;
                document.documentElement.style.overflow = 'auto';
            }
        }
    }
</script>