<template>
    <div>
        <script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Product",
    "name": "{{ hotel.title}}",
    "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "{{ ratingValue}}",
        "bestRating": "10",
        "reviewCount": "{{ reviews.length }}"
    }
}
</script>
    <div class="review-list">
        <h3 class="title is-3 is-marginless has-text-centered has-text-weight-normal">
            {{hotel.title}} Ervaringen
        </h3>
        <div v-if="this.reviews.length">
            <p>
            <img class="star-icon" src="/images/star-list.png" alt="">
            <strong>{{ ratingValue }}</strong>
                op basis van {{ reviews.length }} review<span v-if="reviews.length !== 1">s</span>
            </p>
            <article v-for="(review, index) in reviews" class="media">
                <figure class="media-left">
                    <p class="image is-96x96">
                        <img class="review-avatar" src="/images/default-avatar.jpg">
                    </p>
                    <p class="has-text-grey-light">{{ review.name }}</p>
                </figure>
                <div class="media-content">
                    <div class="content has-text-left">
                        <div class="stars" :style="{ '--rating': review.score }">
                        </div>
                        <small>{{review.date}}</small>
                        <br>
                        <h3 class="my-0">{{ review.title }}</h3>
                        <p>{{ review.body }}</p>
                    </div>
                </div>
            </article>
        </div>
    <p v-else><strong>Nog geen ervaringen toegevoegd voor dit hotel</strong><br> Wees de eerste en voeg hieronder een ervaring toe.</p>
    </div>
        <hr>
    <div v-if="!this.formSubmitted" class="review-form">
        <form class="form" method="post" @submit.prevent="onSubmit">
            <h4 class="has-text-left title is-4 has-text-weight-normal">Ben jij hier geweest? Wij horen graag jouw mening</h4>
            <div class="field">
                <select v-model="review.score" name="score" :class="{'is-danger' : errors.score}" class="select score-select">
                    <option :value="null" disabled="disabled">Selecteer een beoordeling</option>
                    <option value="10">(10) Geweldig !!</option>
                    <option value="9">(9) Uitstekend</option>
                    <option value="8">(8) Heel goed</option>
                    <option value="7">(7) Aanrader</option>
                    <option value="6">(6) Mwa, het is oké</option>
                    <option value="5">(5) Kan beter</option>
                    <option value="4">(4) Geen aanrader</option>
                    <option value="3">(3) Slecht</option>
                    <option value="2">(2) Verschrikkelijk</option>
                    <option value="1">(1) Kan niet slechter</option>
                </select>
                <span v-if="errors.score" class="has-text-danger">{{ errors.score[0] }}</span>
            </div>
            <div class="field">
                <input v-model="review.title"
                       :class="{'is-danger' : errors.title}"
                       class="input"
                       type="text"
                       name="title"
                       placeholder="Bijvoorbeeld: 'Geweldig hotel!'"
                       maxlength="255">
                <span v-if="errors.title" class="has-text-danger">{{ errors.title[0] }}</span>
            </div>
            <div class="field">
                <textarea
                        v-model="review.body"
                        :class="{'is-danger' : errors.body}"
                        name="body"
                        class="textarea is-medium"
                        placeholder="Geef hier jouw mening over dit hotel. Vertel bijvoorbeeld wat over de sfeer, de faciliteiten, kwaliteit van het eten, vriendelijkheid van het personeel of wat de algemene indruk was."></textarea>
                <span v-if="errors.body" class="has-text-danger">{{ errors.body[0] }}</span>
            </div>
            <div class="field">
                <input v-model="review.name"
                       :class="{'is-danger' : errors.name}"
                       name="name"
                       maxlength="255"
                       placeholder="Jouw naam"
                       type="text"
                       class="input">
                <span v-if="errors.name" class="has-text-danger">{{ errors.name[0] }}</span>
            </div>
            <div class="field">
                <input v-model="review.email"
                       :class="{'is-danger' : errors.email}"
                       name="email"
                       maxlength="255"
                       placeholder="Jouw emailadres"
                       type="text"
                       class="input">
                <span v-if="errors.email" class="has-text-danger">{{ errors.email[0] }}</span>
            </div>
            <div class="field">
                <div class="g-recaptcha" theme="light" :id="captcha.id" :data-sitekey="captcha.sitekey"></div>
                <span v-if="errors['g-recaptcha-response']" class="has-text-danger has-text-left">Please check "I'm not a robot" checkbox</span>
            </div>
            <div class="field">
                <button class="button is-primary">Review toevoegen</button>
            </div>
        </form>
    </div>
    <div v-else class="notification is-primary is-light">
        <strong>Bedankt!</strong> Jouw ervaring is verstuurd. Wij zullen deze na controle plaatsen.
    </div>
    </div>
</template>
<script>
export default{
    props: ['reviews','hotel','captcha'],
    data() {
        return {
            errors: [],
            review: {
                score: null,
                title: null,
                body: null,
                name: null,
                email: null,
                hotel_id: this.hotel.id,
                'g-recaptcha-response': null
            },
            formSubmitted: false,
            ratingValue: null
        }
    },
    created: function(){
        this.reset();
        if(this.reviews.length){
            this.ratingValue = (this.reviews.reduce((acc, item) => acc + item.score, 0) / this.reviews.length).toFixed(1);
        }
    },
    methods: {
        rating(score) {
            return {
                '--rating': score
            }
        },
        onSubmit(submitEvent) {
            this.review['g-recaptcha-response'] = submitEvent.target.elements['g-recaptcha-response'].value;
            this.formSubmitted = false;
            this.errors = [];
            axios.post('/api/reviews', this.review)
                .then(({data}) => this.setSuccessMessage())
                .catch(({response}) => this.setErrors(response));
        },
        setErrors(response) {
            this.errors = response.data.errors;
        },

        setSuccessMessage() {
            this.reset();
            this.formSubmitted = true;
        },

        reset() {
            this.errors = [];
            this.review = { score: null, title: null, body: null, name: null, email: null, hotel_id: this.hotel.id, 'g-recaptcha-response' : null};
        }
    }
}
</script>