<template>
    <section id="search-section" class="section hero is-block is-relative is-light is-small-mobile is-medium">
        <div v-show="isOpen" class="overlay">
        </div>
    <div class="autocomplete is-expanded">
        <div class="control is-clearfix is-medium"
             :class="{ 'is-loading': isLoading }"
        >
            <label for="search" class="is-sr-only">Zoeken</label>
            <input
                    name="search"
                    class="input is-large is-size-6"
                   type="text"
                   placeholder="Zoek op plaats, provincie of hotelnaam"
                   v-model="search"
                    v-bind:class="{search: isOpen}"
                   @input="onInput"
                   @focus="onFocus"
                   @blur="onBlur"
            >
        </div>
        <!--<transition name="slide">-->
        <div class="menu" v-show="isOpen">
            <h5 class="title list-item is-5 is-family-primary has-text-black is-marginless" v-if="error">{{error}}</h5>
            <div v-for="(result,i) in results"
                 :key="i">
                <h5 class="title list-item is-5 is-family-primary has-text-black is-marginless">
                    {{i}}
                </h5>
                <ul class="menu-list">
                    <li>
                        <a v-for="(item,j) in result"
                           :href="j">{{item}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--</transition>-->
    </div>
    </section>
</template>
<script>
    export default {
        data() {
            return {
                search: '',
                results: null,
                delayTimer: 0,
                error: null,
                isLoading: false,
                isOpen: false,
            };
        },
        methods: {
            onBlur(){
                setTimeout(() => this.isOpen = false,300);
                this.overlay = false;
            },
            onFocus(){
                if(this.results)this.isOpen = true;
            },
            onInput() {
                clearTimeout(this.delayTimer);
                var self = this;
                this.delayTimer = setTimeout(function () {
                    if (self.search.length > 1) {
                        self.isLoading = true;
                        axios.post('/api/search', {
                            query: self.search
                        }).then(function (response) {
                            self.isLoading = false;
                            self.isOpen = true;
                            if (response.data.results.error) {
                                self.error = response.data.results.error;
                                self.results = null;
                            } else {
                                self.results = response.data.results;
                                self.error = null;
                            }
                        });
                    } else{
                        self.results = null;
                        self.isOpen = false;
                    }
                }, 1000);
            },
        }
    }
</script>